pkgbase = cloudtolocalllm-appimage
	pkgdesc = Privacy-first local AI workspace (AppImage version)
	pkgver = 10.1.187
	pkgrel = 1
	url = https://github.com/CloudToLocalLLM-online/CloudToLocalLLM
	arch = x86_64
	license = MIT
	depends = fuse2
	depends = libayatana-appindicator
	depends = gtk3
	depends = libsecret
	options = !strip
	source = cloudtolocalllm-10.1.187-x86_64.AppImage::https://github.com/CloudToLocalLLM-online/CloudToLocalLLM/releases/download/v10.1.188/cloudtolocalllm-10.1.187-x86_64.AppImage
	sha256sums = 05ea1fc2519f18b15822f4182c06c7f032b974e4d72f1a390627ce9d01dc1c61

pkgname = cloudtolocalllm-appimage
